.alert_text
  color #f00
  font-weight bold

/* colors http://static1.squarespace.com/static/4ea18496d09aa9e3f3299a86/t/5183b2c7e4b0b930f1c7200b/1367585480618/Flat+UI+Colors+(20130503).png */

.color_turquoise
  color #20b08a

.color_emerland
  color #2cc55e

.color_peterriver
  color #2b84d1

.color_amethyst
  color #8740a7

.color_wetasphalt
  color #28384b

.color_greensea
  color #1a9072

.color_nephritis
  color #25a34e

.color_belizehole
  color #226bab

.color_wisteria
  color #7a2b9d

.color_midnightblue
  color #212f3e

.color_sunflower
  color #ecb910

.color_carrot
  color #dd6a1b

.color_alizarin
  color #df342f

.color_clouds
  color #e7edee

.color_concrete
  color #839595

.color_orange
  color #ee8a12

.color_pumpkin
  color #c63e05

.color_pomegranate
  color #b02521

.color_silver
  color #b0b6bb

.color_asbestos
  color #6b7a7a
