@font-face
  font-family 'inconsolata'
  src url('../fonts/inconsolata-g/inconsolata-g-webfont.eot')
  src local('inconsolata'),
      local('inconsolata'),
      url('../fonts/inconsolata-g/inconsolata-g-webfont.ttf') format('truetype'),
      url('../fonts/inconsolata-g/inconsolata-g-webfont.svg#font') format('svg'),
      url('../fonts/inconsolata-g/inconsolata-g-webfont.woff') format('woff')
