.syntaxhighlighter
  background-color transparent

  .line
    &.alt1
      background-color transparent

    &.alt2
      background-color transparent

  .keyword
    color #01bf3f
    font-weight bold

  .preprocessor
    color #636363

  .variable
    color #a70

  .value
    color #090

  .functions
    color #ff1493

  .constants
    color #06c

  .script
    color #069
    font-weight bold

.syntaxhighlighter .plain
  color #b5b5b5

.syntaxhighlighter .comments
  color #080

.syntaxhighlighter .string
  color #48a6f7

.syntaxhighlighter .color1
  color #636363

.syntaxhighlighter .color2
  color #ff1493

.syntaxhighlighter .color3
  color #f00
