doctype html
html
  head
    title Logger
    meta(charset='utf-8')
    link(rel='stylesheet', href='/public/assets/css/main.css')
    script(src='/public/assets/javascript/bundle.js')
  body
    #container Container!!!
    #logs Logs Go Here!!!
