doctype html
html
  head
    title Logger
    meta(charset='utf-8')
    //- link(rel='stylesheet', href='http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css')
    link(rel='stylesheet', href='/public/assets/css/main.css')
    script(src='http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js')
    script(src='http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shBrushSql.js')
    script(src='http://agorbatchev.typepad.com/pub/sh/3_0_83/scripts/shBrushJScript.js')
    script(src='/public/assets/javascript/bundle.js')
  body
    #mainContent
      include search-panel
      include control-panel
      //- #gradientTop
      #gradientBottom
      #logsContainer
        #logs
          #hiddenLogs
          #errorLogs
          #normalLogs
        #theEnd -- The End --
