#searchPanel
  #inputContainer
    div.group
      input#filterText.searchInput(type="text" required)
      span.highlight
      span.bar
      label Filter
    div.group
      input#highlightText.searchInput(type="text" required)
      span.highlight
      span.bar
      label Highlight
    div.group
      input#excludeText.searchInput(type="text" required)
      span.highlight
      span.bar
      label Exclude
